# Build output
dist/
node_modules/

# Astro cache and generated types
.astro/

# Environment variables (Sensitive Info)
.env
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store

# Wrangler for R2 CloudFlare
.wrangler