---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import { getCollection } from 'astro:content';

const allProjects = await getCollection('projects');
const sortedProjects = allProjects.sort((a, b) => a.data.order - b.data.order);
---
<Layout title="Creative Portfolio">
	<main class="max-w-6xl mx-auto px-6 py-12">
        <header class="mb-16">
            <h1 class="text-6xl font-extrabold tracking-tight">Troy</h1>
            <p class="mt-4 text-xl text-gray-600">Multimedia Specialist & Producer.</p>
        </header>

        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {sortedProjects.map((project) => (
                <ProjectCard project={project} />
            ))}
        </section>
		<div class="mt-6 flex gap-4">
			<a href="#work" class="bg-black text-white px-6 py-2 rounded-full font-medium">View Work</a>
			<a href="/about" class="border border-black px-6 py-2 rounded-full font-medium">Who is?</a>
		</div>
	</main>
</Layout>